html {
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 2fr 5fr;
    background-color: #000000;
    font-family: 'Spectral', serif;
    color: #ffffff;
}

.container {
    margin: 43px auto;
    padding: 50px;
}

/*HEADER AND NAV */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:100vh;
    position: fixed;
    left: 100px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-name {
    font-weight: 700;
    font-size: 27px;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: #ffffff;
}


.site-navigation {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.site-navigation-element {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 4px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: 10px auto;
}

.site-navigation-element-description {
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.little-description-color {
    color: #555555;
    opacity: 1;
}

.boldWeight {
    font-weight: 700;
}

/* SECTION #HOME */

#home {
    display: flex;
    flex-direction: column;
    text-align: center;
}
hr {
    border: 0;
    height: 1px;
    margin: 25px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.heading-without-margin {
    margin: 0;
}

p {
    width: 75%;
    margin: 0 auto 40px;
}

.link {
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid  #555555;
}

.link > a {
    color: #000000;
    font-family: 'Spectral', serif;
    margin: 40px auto;
}

/* SECTION #ABOUT */

#aboutMe {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.image {
    height: 25%;
    width: 25%;
}

#contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media only screen and (max-width:960px){
    body {
        display: flex;
        flex-direction: column;
    }
    header {
        height:auto;
        position: static;
    }
}